$color-btn-primary: #6680D9; 
$color-btn-secondary: #a4a5a6;
$color-btn-danger: #F83248; 

$color-sidebar: white;
$color-sidebar-text: rgb(38, 38, 38);
$color-sidebar-hover: #E6F4FF;

$width-sidebar-opened: 260px;
$width-sidebar-icons: 60px;

$rounded-main: 5px